NODE_ENV=development
DATABASE_URL=postgres://user:password@localhost:5432/mydb
SUPERCONTEXT_CLIENT_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_secret_key
BETTER_AUTH_URL=http://localhost:3001
OPENAI_API_KEY=
GEMINI_API_KEY=